<template name="Messenger">
    <div class="messenger-container">


        <ul id="messenger-contact-list" class="collection side-nav fixed" style="width: 240px;">
            <li class="search">
                <form>
                    <div class="input-field">
                        <input type="search" id="search-field" class="field" required maxlength="">
                        <label for="search-field"><i class="mdi-action-search"></i></label>
                        <i class="mdi-navigation-close close"></i>
                    </div>
                </form>
            </li>
            <li class="collection-item avatar active">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
            <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                <span class="title">Full Name</span>
                <small class="truncate">Most Recent Message shown here</small>
            </li>
        </ul>


        <nav>
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col m12">
                        <a href="#" class="brand-logo">Logo</a>
                        <ul id="nav-mobile" class="right">
                            <li><a href="#"><i class="material-icons">zoom_out_map</i></a></li>
                            <li><a href="#"><i class="material-icons">phone</i></a></li>
                            <li><a href="#"><i class="material-icons">attachment</i></a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="messengerDropDown"><i class="material-icons right">more_vert</i></a></li>
                        </ul>
                        <a href="#" data-activates="messenger-contact-list" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Dropdown Structure -->
        <ul id="messengerDropDown" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
        </ul>
    </div>
</template>