.viewDate-container {

}
  .viewDate-container input[type="text"] {
    float: left;
    width: auto;
    line-height: inherit;
    border-bottom-color: #CC5353;
  }
  .viewDate-container a {
    display: inline-block;
  }
  .viewDate-container .picker__clear {
    display: none;
  }