<template name="NewCompany">
    <div class="new-company-container">
        {{> quickForm collection="Companies" id="insertCompanyForm" type="insert" class="new-company-form" }}
        <!--{{#autoForm collection="Companies" id="insertCompanyForm" type="insert" class="new-company-form"}}-->
            <!--{{> afQuickField name="name"}}-->
            <!--{{> afQuickField name="website"}}-->
            <!--{{> afQuickField name="phoneNumber"}}-->
            <!--{{> afQuickField name="fax"}}-->
            <!--{{> afQuickField name="address" type="map"}}-->
            <!--{{> afQuickField name="settings"}}-->
            <!--<button class="btn waves-effect waves-light" type="submit" name="action">Submit-->
                <!--<i class="material-icons right">send</i>-->
            <!--</button>-->
        <!--{{/autoForm}}-->
    </div>
</template>